.movie-app {
  background-color: #fff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-app__main > .ant-alert {
  margin-top: 30px;
  margin-bottom: 30px;
}

.movie-app__main {
}
